/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Fira+Sans:wght@900&family=Nova+Mono&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --border-radius: 16px;
    --color-body: #64c5cc;
    --color-primary: rgba(0, 41, 61, 1);
    --color-primary-ghost: rgba(0, 41, 61, .3);
    --color-secondary: #1f6831;
    --color-secondary-hover: #397f46;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: var(--color-body);
    background: fixed linear-gradient(var(--color-body) , #ffffff);
}


#masthead {
    background: var(--color-primary) url('../images/masthead.jpg') no-repeat bottom center/cover;
    min-height: 500px;
    color: white;
    padding: 0 20px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
}

#masthead h1 {
    font-size: 6rem;
}

#masthead p {
    font-size: 3rem;
}

nav, footer {
    background-color: var(--color-primary-ghost);
    color: white;
    padding: 0;
}

nav .container,
footer .container {
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: var(--border-radius);
}

footer h2 {
    font-size: 1.2rem;
    min-height: 4rem;
    font-weight: 900;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar {
    padding: 0;
}

main {
    padding: 2rem 0 3rem 0;
}

.card {
    height: 100%;
    background-color: transparent;
    border: none;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    background: linear-gradient(transparent 10px, #ffffff);
}

.card-body {
    background: #fff;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-primary);
    flex-shrink: 0;
}

.card-body p {
    flex-grow: 2;
}

.cardfoot {
    text-align: center;
    flex-shrink: 0;
}

.btn-custom {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: #fff;
}

.btn-custom:hover {
    background-color: var(--color-secondary-hover);
    border-color: var(--color-secondary-hover);
    color: #fff;
}

/* THINGS HIDDEN BY DEFAULT */

#hidden_options,
.bad_image,
.bad_text {
    display: none;
}

/* MENU TOGGLE */

#options_toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #FFF;
    font-size: 1.5rem;
    z-index: 1000;
}

#options_toggle label {
    display: block;
    padding: 1rem;
    cursor: pointer;
    user-select: none;
}

#hidden_options:has(#toggle_options_div:checked) ~ #options {
    display: block;
}

/* MENU */

#options {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #FFF;
    padding: 1rem 1rem 56px 56px;
    max-height: 50vh;
    overflow-y: auto;
    z-index: 100;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
}

#options .option {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #444;
}

#options .option:first-child {
    border-top: none;
}

/* TOGGLE ICONS */

#options label>span:after {
    content: 'toggle_on';
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    color: green;
}

body:has(#bad_text_spacing:checked) #options label[for="bad_text_spacing"]>span:after,
body:has(#bad_content:checked) #options label[for="bad_content"]>span:after,
body:has(#bad_alignment:checked) #options label[for="bad_alignment"]>span:after,
body:has(#bad_contrast:checked) #options label[for="bad_contrast"]>span:after,
body:has(#bad_fonts:checked) #options label[for="bad_fonts"]>span:after,
body:has(#bad_links:checked) #options label[for="bad_links"]>span:after,
body:has(#bad_colors:checked) #options label[for="bad_colors"]>span:after,
body:has(#bad_images:checked) #options label[for="bad_images"]>span:after {
    content: 'toggle_off';
    color: red;
}

/* BAD OPTIONS */

/* COLOURS */

body:has(#hidden_options #bad_colors:checked) {
        /* horrible background colour for body */
    background-image: linear-gradient(135deg, #ee00ff 25%, #ffff00 25%, #ffff00 50%, #ee00ff 50%, #ee00ff 75%, #ffff00 75%, #ffff00 100%);
    background-size: 30.00px 30.00px;
        /* change page colours */
    --color-primary: blue;
    --color-secondary: orange;
}

/* IMAGES */

body:has(#bad_images:checked) #masthead {
    background: var(--color-primary) url('../images/dumpster.jpg') no-repeat bottom center/cover;
}

body:has(#bad_images:checked) .bad_image {
    display: revert;
}

body:has(#bad_images:checked) .good_image {
    display: none;
}

/* FONTS */

body:has(#hidden_options #bad_fonts:checked) {
    font-family: 'Nova Mono', monospace;
}

body:has(#bad_fonts:checked) #masthead {
    font-family: 'Creepster', cursive;
}

/* TEXT-SPACING */

body:has(#bad_text_spacing:checked) footer,
body:has(#bad_text_spacing:checked) .card {
    word-spacing: -.8ch;
    letter-spacing: -.1ch;
    line-height: 1;
}

/* fix for when non-mono fonts are used */
body:has(#bad_text_spacing:checked ~ #bad_fonts:not(:checked)) footer,
body:has(#bad_text_spacing:checked ~ #bad_fonts:not(:checked)) .card {
    word-spacing: -.3ch;
}

/* CONTENT */

body:has(#hidden_options #bad_content:checked) .good_text {
    display: none;
}

body:has(#hidden_options #bad_content:checked) .bad_text {
    display: revert;
}

